.nav{
    background-color: rgb(143, 248, 190);
   width: 30%;
   height: 500px; 
   padding: 30px;
   font-size: large;
 
}
.head{
    background-color: rgb(29, 234, 122);
  
   padding: 30px;
   font-size: large;
   margin-left: 35%;
}
.art{
    background-color: white;
   
   padding: 30px;
   font-size: large;
   margin-left: 35%;
height: 335px;
}
.foot{
    background-color: rgb(27, 232, 120);
   
   padding: 30px;
   font-size: large;
   margin-left: 35%;

}
#main{
    display: flex;
    flex-direction: column;
    margin-top: -560px;
   
  
  
}
